#nav {
	float: left;
	margin-right: 5px;
	width: 150px;
}

#nav li {
	background-color: red;
	padding: 5px;
	list-style-type: none;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

#navlastitem {
	border-bottom: 1px solid black;
}

#navbar {
	width:100%;
	background: red;
	text-align: center;
	height: 30px;
}

#nav a {
	display: block;
	text-decoration: none;
}

#all {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#main {
	margin: 50px;
  padding: 20px 15% 20px 15%;
  font-size: 20px;
}

#titlebar {
	text-align: center;
	padding: 20px 15% 20px 15%;
	font-size: 20px;
}

td {
    width: 14.2857142857%;
}

ul, li { /* reset default margin and padding */
	margin: 0px;
	padding: 0px;
}

html {
    position: relative;
    min-height: 100%;
}

h1 {
	font-size: 36pt;
	font-weight: 900;
	color: white;
	background-color: red;
	padding: 10px;
	border: 5px solid gray;
	margin-bottom: 25px;
	font-variant: small-caps;
}

a {
	text-shadow: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

td {
  width: 14.2857142857%;
}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.entrytitle {
	font-size: 24pt;
	font-weight: 600;
	color: red;
	font-family: "Times New Roman", Times, serif;
}

.entrydate {
	float: right;
	font-style: italic;
}

.entry {
	border-top: 2px red solid;
	padding: 25px 0px 0px 0px;
	margin: 25px 0px 0px 0px;
}

.last {
	border-bottom: 2px red solid;
	padding-bottom: 25px;
}

.ui-btn {
	width: 100%;
}
